#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(0, 102, 255);
  border-radius: 6px;
  box-shadow: 0 0 4px black;
  font-size: 1.2em;
}

button, .button {
  border-radius: 6px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 0;
  font-family: inherit;
  background-color: rgb(0, 119, 255);
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 0.2rem;
}
button:hover, .button:hover {
  border-color: white;
}

#github-logo {
  margin: 1em;
  height: 3em;
}

#session-increment, #session-decrement, #break-increment, #break-decrement {
  font-weight: 400;
}

#session-length, #break-length {
  display: inline-block;
  width: 22px;
  margin: 0 0.2rem;
}

#timer-label {
  margin-bottom: 0.5em;
}

#time-left {
  font-size: 1.6rem;
}

#timer-div {
  margin-bottom: 0.5rem;
}

footer {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2em;
}